.left-pane, .right-pane {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
}

.divider {
    width: 1px;
    background-color: rgb(190, 190, 190);
    height: 100%;
    position: relative;
    z-index: 1;
}



@media screen and (max-width: 768px) {
    .right-pane {
        width: 100%;
    }
    .resizer {
        display: none;
    }
    .left-pane{
        width: 100%;
        min-height: 100%;
    }
    
}